<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>The Home Page
        <%= 'Hello world'.toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil labore porro impedit repudiandae itaque minima vero, recusandae accusantium quia ipsam nemo modi nam deserunt sit sapiente voluptas odio. Quos, dolorum. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Enim expedita architecto omnis nobis, quae eveniet quam, ab rem laudantium, culpa itaque illo est sed ullam voluptates. Sapiente blanditiis quibusdam similique.lorem
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium tenetur omnis, neque velit ex fugiat. Iste quo sint quae cupiditate repellat, unde alias quia assumenda, ducimus consequuntur, autem voluptate eligendi. Deleniti exercitationem harum
        itaque aliquid similique quisquam, a sunt suscipit pariatur repellat ex! Autem tempora distinctio ipsa necessitatibus delectus, soluta hic explicabo itaque adipisci corporis nisi sit impedit, voluptatum eius! Nobis cupiditate libero et iste eum
        quis quam odit maiores neque quaerat obcaecati molestias vitae similique nulla magni vel saepe consequatur excepturi rem natus qui eligendi provident, laboriosam in! Sunt.</p>
    <script src="" async defer></script>
</body>

</html>