<%- include('partials/head') %>
    <h1>The Number is
        <%= num %>
    </h1>
    <%if(num%2 === 0){%>
        <h2>That is even number</h2>
        <%} else{%>
            <h2>Thatat is odd number</h2>
            <% }%>
                </body>

                </html>