<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>

<body>
    <h1>Comments</h1>
    <ul>
        <% for(let c of comments){ %>
            <li>
                <%= c.comment %> - <b><%= c.username %> <a href="http://localhost:3000/comments/<%=c.id%> ">link to the post</a></b>
                    <a href=h ttp://localhost:3000/comments/${c.id}></a>
            </li>
            <% } %>
    </ul>
    <a href="http://localhost:3000/comments/new">Post a new comment</a>
</body>

</html>