<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show specific comment</title>
</head>

<body>
    <h1>
        post id:
        <%= foundComment.id %>
    </h1>
    <br>
    <h2>
        <%= foundComment.comment %>
    </h2>
    <h4>show.ejs</h4>
    <a href="/comments/">See all comments</a>
    <a href="/comments/<%=foundComment.id%>/edit">Edit comment</a>
    <br>
    <form action="/comments/<%= foundComment.id %>?_method=DELETE" method="post">
        <button> Delete</button>
    </form>
</body>

</html>